*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0; 
    padding: 0;
    height: 100vh;
}

.header {
    padding: 1rem;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "title button"
    "books books";
    background-color: gainsboro;
    padding: 1rem;
    height: 100%;
}

.books h1 {
    grid-area: title;
}

.books button {
    grid-area: button;
}

.book-container {
    grid-area: books;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    height: min-content;
}

.popup-form {
    
}



